<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Gestion Pédagogique</title>
</head>
<body>
<div class="container " layout:fragment="contentForView">
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Liste des étudiants</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom et Prénom</th>
                    <th>Téléphone</th>
                    <th>Absence</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cl:${listEtudiants}">
                    <td th:text="${cl.nomComplet}"></td>
                    <td th:text="${cl.telephone}"></td>
                    <td th:text="${cl.nbreAb}"></td>
                    <td>
                        <a type="button" class="btn btn-xs btn-outline-success" th:href="@{/etudiant/liste-cours-etudiant(id=${cl.id})}">Mes cours</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>