<!DOCTYPE html>
<html
        lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container " layout:fragment="contentForView">

  <div class="card mt-2">
    <div class="card-body">
      <form class="offset-1 my-2" th:action="@{/rp/etat-planifiersessioncours}" method="get">
        <div class="row">
          <div class="col">
            <select name="etat" class="form-select" aria-label="Default select example">
              <option value="1">Terminer</option>
              <option value="2">Encours</option>
              <option value="3">Annuler</option>
              <option></option>
            </select>
          </div>
          <div class="col">
            <button class="btn btn-outline-success" type="submit">Valider</button>
          </div>
          <input type="hidden" name="idPlanifiersessioncours" th:value="${planifiersessioncours.id}">
        </div>

      </form>

  </div>
</div>
</body>
</html>